<div class="pp-buttons-container">
    <p>
        <button id="<?php echo $block->getHtmlId() ?>" onclick="setLocation('<?php /* @escapeNotVerified */ echo $block->getUrl('bss_webp/webp/clearallimages') ?>')" type="button">
            <?php /* @escapeNotVerified */ echo __('Clear') ?>
        </button>
    </p>
</div>
